@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color */
  --clr-primary-1: #ffffff; /* White */
  --clr-primary-2: hsl(0, 0%, 10%); /* Black */
  --clr-primary-3: hsl(0, 0%, 20%); /* Dark gray */
  --clr-primary-4: hsl(0, 0%, 30%); /* Dark gray */
  /* primary/main color */
  --clr-primary-5: hsl(0, 0%, 40%); /* Gray */
  /* lighter shades of primary color */
  --clr-primary-6: hsl(0, 0%, 50%); /* Gray */
  --clr-primary-7: hsl(0, 0%, 60%); /* Light gray */
  --clr-primary-8: hsl(0, 0%, 70%); /* Light gray */
  --clr-primary-9: hsl(0, 0%, 80%); /* Very light gray */
  --clr-primary-10: hsl(0, 0%, 90%); /* Almost white */
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(0, 0%, 5%); /* Very dark gray */
  --clr-grey-2: hsl(0, 0%, 10%); /* Black */
  --clr-grey-3: hsl(0, 0%, 20%); /* Dark gray */
  --clr-grey-4: hsl(0, 0%, 30%); /* Dark gray */
  --clr-grey-5: hsl(0, 0%, 40%); /* Gray */
  --clr-grey-6: hsl(0, 0%, 50%); /* Gray */
  --clr-grey-7: hsl(0, 0%, 60%); /* Light gray */
  --clr-grey-8: hsl(0, 0%, 70%); /* Light gray */
  --clr-grey-9: hsl(0, 0%, 80%); /* Very light gray */
  --clr-grey-10: hsl(0, 0%, 90%); /* Almost white */
  --clr-white: #ffffff; /* White */
  --clr-black: #000000; /* Black */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Width of the vertical scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track of the vertical scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle of the vertical scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--clr-grey-2); /* Color of the scrollbar handle */
}

/* Handle of the vertical scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* Dark mode scrollbar handle */
body.dark ::-webkit-scrollbar-thumb {
  background: var(--clr-grey-10); /* Color of the scrollbar handle in dark mode */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
body.dark {
  background-color: #333;
  color: #fff;
}
body.light {
  background-color: var(--clr-primary-9);
  color: #000;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-grey-10);
  border-bottom: 1px solid var(--clr-grey-9);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}
body.dark nav {
  background: var(--clr-grey-2);
  border-bottom: 1px solid var(--clr-grey-3);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-black);
  transform: rotate(90deg);
}
body.dark .nav-toggle {
  color: var(--clr-grey-10);
}
body.dark .nav-toggle:hover {
  color: var(--clr-white);
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-primary-5);
  cursor: pointer;
  margin: 0;
}
body.dark .logo {
  color: var(--clr-grey-10);
}
.links a {
  color: var(--clr-grey-4);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  cursor: pointer;
}
body.dark .links a {
  color: var(--clr-grey-8);
}
.links a:hover {
  background-color: var(--clr-grey-3);
  color: var(--clr-grey-10);
  padding-left: 1.5rem;
}
body.dark .links a:hover {
  background-color: var(--clr-grey-10);
  color: var(--clr-grey-3);
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
.social-icons {
  display: none;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    background: transparent;
    color: var(--clr-black);
    padding-left: 0;
  }
  body.dark .links a:hover {
    background: transparent;
    color: var(--clr-white);
    padding-left: 0;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
  body.dark .social-icons a {
    color: var(--clr-grey-8);
  }
  body.dark .social-icons a:hover {
    color: var(--clr-white);
  }
  .darkmode-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .darkmode-btn:focus {
    outline: none; 
  }
  .darkmode-icon {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 5px;
    margin-left: 0.5rem;
  }
  .darkmode-btn:hover .darkmode-icon {
    color: #666; 
  }
}

/*
=============== 
Main
===============
*/

.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  z-index: 0;
}

.main > *:not(:first-child) {
  margin-top: 2rem;
}

.main-avatar-container {
  position: relative;
  width: 10rem;
  height: 10rem; 
  border-radius: 50%;
  overflow: hidden; 
  border: 6px solid var(--clr-grey-2);
}

body.dark .main-avatar-container {
  border: 6px solid var(--clr-grey-10);
}

.main-avatar {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.main-content {
  z-index: 1;
}

.main-content h2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--clr-grey-3);
  padding-bottom: 0.5rem;
  letter-spacing: 15px;
  font-weight: 400;
}

body.dark .main-content h2 {
  color: var(--clr-grey-7);
}

.main-content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--clr-grey-3);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

body.dark .main-content h1 {
  color: var(--clr-grey-9);
}

@media screen and (max-width: 1024px) {
  .main-content h1 {
    font-size: 1.2rem;
  }
}

.circle-container {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 5rem); 
  width: 10rem; 
  height: 10rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0; 
}
.circle-ping {
  position: relative;
  border: 2px solid var(--clr-grey-2);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

body.dark .circle-ping {
  border: 2px solid var(--clr-grey-10);
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}


/*
=============== 
About
===============
*/

.about {
  padding: 80px 20px 200px 20px; 
  background: var(--clr-grey-10);
  position: relative; 
  z-index: 1; 
}


.about-container {
  max-width: 1170px; 
  margin: 0 auto; 
}

.about h1 {
  margin: 0; 
  color: var(--clr-grey-3);
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center; 
  width: 100%; 
}

.underline {
  display: inline-block;
  width: 100px; 
  border-bottom: 4px solid var(--clr-grey-3); 
  border-radius: 1000px;
  margin-top: 100px; 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}

body.dark .underline {
  border-bottom: 4px solid var(--clr-grey-10); 
}

.about h2 {
  color: var(--clr-grey-3);
  font-size: 2rem;
}

.about h3 {
  color: var(--clr-grey-3);
  font-size: 2rem;
}

.about p {
  margin: 0 0 10px 0;
}

.content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.description {
  width: 100%;
  flex: 1 0 100%; 
  margin-bottom: 20px; 
}

.tech-stack {
  flex: 1 0 300px; 
}

.tech-items {
  display: flex;
  flex-wrap: wrap;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tech-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.tech-item p {
  margin: 0;
  font-size: 14px;
}

/* Dark mode styles for the About section */
body.dark .about {
  background: var(--clr-primary-2);
}

body.dark .about h1 {
  color: var(--clr-grey-10);
}

body.dark .about h2,
body.dark .about h3,
body.dark .about p {
  color: var(--clr-grey-7);
}

body.dark .tech-item {
  border-color: var(--clr-grey-6);
  background-color: var(--clr-primary-2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .about {
    padding: 60px 20px 150px 20px; 
  }

  .about h1 {
    font-size: 2.5rem;
  }

  .content {
    flex-direction: column; 
  }

  .description {
    margin-right: 0; 
  }

  .tech-stack {
    width: 100%; 
  }

  .tech-item {
    width: calc(33.33% - 20px); 
  }
}

/*
=============== 
Experience
===============
*/

.portfolio-experience {
  height: 100vh;
}

.experience {
  padding: 80px 20px 200px 20px; 
  background: var(--clr-grey-9);
  position: relative; 
  z-index: 1; 
}

.experience h1 {
  margin: 0; 
  color: var(--clr-grey-3);
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center; 
  width: 100%; 
}

.experience-container {
  max-width: 1280px; 
  margin-left: auto;
  margin-right: auto; 
  padding-left: 1rem; 
  padding-right: 1rem; 
}

.timeline-container {
  position: relative;
}

.job-exp {
  margin-bottom: 2rem; 
  max-width: 28rem; 
  margin-left: auto; 
  margin-right: auto; 
  position: relative; 
  display: flex; 
  align-items: center; 
}

.tree-connector {
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateY(50%); 
  height: 100%; 
  width: 0.25rem; 
  background-color: var(--clr-grey-6); 
  z-index: 1; 
}

.card {
  background-color: var(--clr-white); 
  padding: 1.5rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 0 0 2px var(--clr-grey-6); 
  margin-left: 1rem; 
  position: relative; 
  z-index: 10;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 4px var(--clr-white); 
  z-index: -1;
}

.card h3 {
  font-size: 1.5rem; 
  font-weight: 500; 
  color: var(--clr-grey-4); 
}

.card h4 {
  font-size: 0.875rem; 
  color: var(--clr-grey-4); 
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem; 
}

.card .line {
  margin-top: 1rem; 
  border-top-width: 1px; 
  border-color: var(--clr-grey-10); 
  border-radius: 0.125rem; 
  border-style: solid; 
}

.card .exp-date {
  font-size: 0.875rem; 
  color: var(--clr-grey-6);
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}

.card .responsibilities {
  font-size: 0.875rem; 
  color: var(--clr-grey-6); 
}

.card .project-type {
  font-size: 14px;
  font-weight: 500;
}

.card .responsibilities-title {
  font-size: 17px;
  font-weight: bold;
}

.responsibilities-desc {
  list-style-type: disc; 
  font-size: 16px;
  padding-left: 1.25rem; 
}

.tree-connector-two {
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateY(25%); 
  height: 100%; 
  width: 0.25rem; 
  background-color: var(--clr-grey-6); 
}

.outer-circle {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%) translateY(25%); 
  width: 1rem; 
  height: 1rem; 
  background-color: var(--clr-grey-2); 
  border-radius: 50%; 
}

.inner-circle {
  position: absolute; 
  bottom: 0; 
  left: 12.5%; 
  width: 1rem; 
  height: 1rem; 
  background-color: var(--clr-grey-2); 
  border-radius: 50%; 
  animation: ping 1s infinite; 
}

@keyframes ping {
  75%, 100% {
      transform: scale(2);
      opacity: 0;
  }
}

/* Dark mode styles for the About section */
body.dark .experience {
  background: #333;
}

body.dark .exp-title {
  color: var(--clr-grey-10);
  font-weight: bold;
}

body.dark .card .line {
  border-color: var(--clr-grey-5); 
}

body.dark .experience h2,
body.dark .experience h3,
body.dark .experience p {
  color: var(--clr-grey-9);
}

body.dark .responsibilities-title {
  color: var(--clr-grey-10);
}

body.dark .experience h4 {
  color: var(--clr-grey-10);
}

body.dark .card {
  background: var(--clr-grey-4);
  box-shadow: 0 0 0 2px var(--clr-grey-3); 
}

body.dark .card::before {
  box-shadow: 0 0 0 4px var(--clr-grey-4); 
}

body.dark .outer-circle {
  background-color: var(--clr-grey-10); 
}

body.dark .inner-circle {
  background-color: var(--clr-grey-7); 
}

@media screen and (min-width: 640px) {
  .experience-container {
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .experience h1 {
    font-size: 2.25rem; 
  }
}

@media screen and (min-width: 1024px) {
  .experience-container {
    padding-left: 2rem; 
    padding-right: 2rem; 
  }
}

/*
===============
Projects
===============
*/

.portfolio-projects {
  height: 100vh;
}

.projects {
  margin-top: 270px;
  padding: 80px 20px 200px 20px; 
  background: var(--clr-grey-10);
  position: relative; 
  z-index: 1; 
}

.projects h1 {
  margin: 0; 
  color: var(--clr-grey-3);
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center; 
  width: 100%; 
}

/* Media query for medium screens */
@media (max-width: 992px) {
  .projects {
    margin-top: 300px;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .projects {
    margin-top: 400px;
  }
}

/*
=============== 
Contacts
===============
*/

.portfolio-contact {
  margin-top: 900px;
}

/*
=============== 
Footer
===============
*/

.footer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Default padding */
  background-color: #f1f1f1; 
}

.footer-name {
  flex: 1;
}

.footer-right {
  display: flex;
  gap: 20px; 
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .footer {
    padding: 10px 50px; /* Adjust padding for larger screens */
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 10px 100px; /* Adjust padding for even larger screens */
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 10px 350px; /* Original padding for very large screens */
  }
}


